pycrypto==0.0.0
pycryptodome
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
altair
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
camelot-py
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
contourpy
Crawl4AI
cryptography
cssselect
cycler
dataclasses-json
deepseek
Deprecated
distro
dnspython
durationpy
entrypoints
et_xmlfile
faiss-cpu
fake-http-header
fake-useragent
Faker
fastapi
favicon
filelock
Flask
Flask-Cors
flask_compress
flask_limiter
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
grpcio
gunicorn
h11
htbuilder
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
litellm
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
more-itertools
mpmath
multidict
mypy-extensions
narwhals
nltk
numpy
oauthlib
onnxruntime
openai
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pdfminer.six
pdfplumber
pillow
playwright
plotly
posthog
prometheus_client
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
Pygments
pymdown-extensions
pymongo
PyMuPDF
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypdfium2
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
pytz
PyYAML
rank-bm25
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
shellingham
six
smmap
sniffio
snowballstemmer
soupsieve
SQLAlchemy
st-annotated-text
st-theme
starlette
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
sympy
tabulate
tenacity
tf-playwright-stealth
tiktoken
tokenizers
toml
tornado
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
validators
watchdog
watchfiles
websocket-client
websockets
Werkzeug
wrapt
xxhash
yarl
